<!DOCTYPE html>
<html>

<head>
  <title>Simpleblog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <h3><%= link_to 'Simple blog', home_path, class: "me-3 py-2 text-dark text-decoration-none" %>
      </h3>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <%= link_to 'Главная страница', home_path,  class: "me-3 py-2 text-dark text-decoration-none" %>
        <%= link_to 'О сайте', about_path,  class: "me-3 py-2 text-dark text-decoration-none" %>
        <%= link_to 'Добавление статьй', new_post_path,  class: "me-3 py-2 text-dark text-decoration-none" %>
        <%= link_to 'Регистрация',  class: "me-3 py-2 text-dark text-decoration-none" %>
      </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">

      <p class="fs-5 text-muted"><%= yield %></p>
    </div>
  </header>

</body>

</html>